<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>showProduct</servlet-name>
        <servlet-class>controller.showProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangServlet</servlet-name>
        <servlet-class>controller.GioHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKyServlet</servlet-name>
        <servlet-class>controller.DangKyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangNhapServlet</servlet-name>
        <servlet-class>controller.DangNhapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToanServlet</servlet-name>
        <servlet-class>controller.ThanhToanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showProduct</servlet-name>
        <url-pattern>/showProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangServlet</servlet-name>
        <url-pattern>/GioHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKyServlet</servlet-name>
        <url-pattern>/DangKyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangNhapServlet</servlet-name>
        <url-pattern>/DangNhapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToanServlet</servlet-name>
        <url-pattern>/ThanhToanServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
